#map {
	height: 500px;
	width: 100%;
}
.map:-webkit-full-screen {
	height: 100%;
	margin: 0;
}
.map:-ms-fullscreen {
    height: 100%;
 }
.map:fullscreen {
	height: 100%;
}
select {
	width: 100%;
}
label > .date {
	width: 35%;
	float: right;
	font-size: 20px;
}
aside {
	height: 500px;
	overflow: auto;
}
button {
	width: 100%;
}
#screen4btns > button {
	width: 48%;
	position: relative;
}
#maps2, #maps4 {
	height: 100%;
	width: 100%;
	display: none;
}
.maps2 {
	height: 100%;
	width: 49%;
	margin: 5pxs;
}
.maps4 {
	height: 48%;
	width: 49%;
	margin: 5pxs;
}
.left {
	float: left;
}
.right {
	float: right;
}
#screen2btns, #screen4btns {
	display: none;
}