#mapdef, #map {
	height: 100%;
	width: 100%;
}
.map {
	height: 100%;
	width: 100%;
}
.map:-webkit-full-screen {
	height: 100%;
	margin: 0;
}
.map:-ms-fullscreen {
    height: 100%;
 }
.map:fullscreen {
	height: 100%;
}
.lulclegend {
	position: absolute;
	z-index: 10;
	top: 1%;
	bottom: 30%;
	height: 40%;
	width: 30%;
}
.wqlegend {
	position: absolute;
	z-index: 10;
	bottom: 1%;
	height: 12%;
	width: 40%;
}
section {
	height: 600px;
}
select {
	width: 100%;
}
label > .date {
	width: 35%;
	float: right;
	font-size: 20px;
}
aside {
	height: 600px;
	overflow: auto;
}
button {
	width: 100%;
}
#screen4btns > button {
	width: 48.5%;
	position: relative;
}
#maps2, #maps4 {
	height: 100%;
	width: 100%;
	display: none;
	position: relative;
}
#map21def > #legend, #map22def > #legend {
	position: absolute;
}
#map21def, #map22def {
	position: relative;
	height: 100%;
	width: 49%;
	margin: 5pxs;
	display: inline-block;
}
.maps2, #maps4 {
	height: 100%;
	width: 100%;
}
.maps4 {
	height: 48%;
	width: 49%;
	margin: 5pxs;
	position: relative;
}
.left {
	float: left;
}
.right {
	float: right;
}
#map41, #map42, #map43, #map44 {
	height: 100%;
	width: 100%;
}
#screen2btns, #screen4btns {
	display: none;
	width: 100%;
}