#about_main {
	width: 90%;
	margin: auto;
	padding: 10%;
	padding-top: 1%;
}
#img_container {
	max-width: 90%;
	height: 400px;
	margin: auto;
	padding: auto;
	margin-top: 0;
	padding-top: 0;
}
.w3-col {
	width: 33%;
	display: inline-block;
	margin: auto;
	padding: 2%;
}
.w3-col img {
	width: 90%;
	height: auto;
}
p {
	font-size: 18px;
	text-align: justify;
}