{% extends 'main/base.html' %}
{% load static crispy_forms_tags %}

{% block main %}
<div id="mainarea" class="row">
	<aside class="col-3">
		<div class="row" id="csvupload">
			<form method="POST" enctype="multipart/form-data">
				<div id="uploadform">
					{% csrf_token %}
					{{ csvform|crispy }}
				</div>
				<div id="csvuploadbtn">
					<button type="submit" class="btn btn-primary">Upload CSV</button>
				</div>
			</form>
		</div>
		<div class="row" id="table">
			<table class="table">
				<thead>
					<th>FileName</th>
					<th>Download</th>
					<th>Delete</th>
					<th>Load</th>
				</thead>
				<tbody>
					{% for file in csvs %}
					<tr>
						<td>{{ file.title }}</td>
						<td><a href="{{ file.csv.url }}" class="btn btn-primary btn-sm">Download</a></td>
						<td>
							<form method="post" action="{% url 'delete_csv' file.pk %}">
							{% csrf_token %}
							<button type="submit" class="btn btn-danger btn-sm">Delete</button>
							</form>
						</td>
						<td>
							<form method="post" class="fileget" data-{{ file.pk }}="{{ file.pk }}" >
								{% csrf_token %}
								<button type="submit" class="btn btn-success btn-sm">Load</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<p class="h3">Choose Variables to Query</p>
		<div id="popdata" class="row">
			<form method="POST">
				{% csrf_token %}
				<div id="chckpanel" data-checks="{{ checks }}">
				</div>
				<label for="start_date" class="date mt-1 mb-1"><strong>Start Date: </strong></label>
				<input id="start_date" type="date" class="form-control buttontheme" >
				<label for="end_date" class="date mb-1 mt-1"><strong>End Date: </strong></label>
				<input id="end_date" type="date" class="form-control buttontheme" >
				<button id="qfile" type="submit" class="btn btn-success mt-1">Query Database</button>
			</form>
		</div>
	</aside>
	<content class="col-9 mb-1">
		<div class="row" id="map_container">
			<div id="map"></div>
		</div>
		<div class="row" id="qdata_request">
			<form method="POST" id="qmapdivs">
				{% csrf_token %}
				<div id="chartq" class="row">
					<label for="platformS">View Platform</label>
					<div id="platformS">
						<select class="form-control mr-2 mb-2 mt-2 form-select form-select-sm mb-1" id="platformSs">
						</select>
					</div>
					<label for="sensorS">View Sensor</label>
					<div id="sensorS">
						<select class="form-control mr-2 mb-2 mt-2 form-select form-select-sm mb-1" id="sensorSs">
						</select>
					</div>
					<label for="productS">View Product</label>
					<div id="productS">
						<select class="form-control mr-2 mb-2 mt-2 form-select form-select-sm mb-1" id="productSs">
						</select>
					</div>
				</div>
				<div id="pntplt" class="row">
					<button type="submit" class="btn btn-success mt-1">Chart Point</button>
				</div>
			</form>
		</div>
		<div class="row" id="chart">
		</div>
		<button class="btn btn-success" id="downloadAll">Download Queried Data</button>
	</content>
</div>
{% endblock %}

{% block scripts %}
	<script>const static_url = "{% static '' %}";</script>
	<script type="text/javascript" href="{% static 'main/js/main.js' %}" ></script>
  	<script type="text/javascript" src="{% static 'query/js/query.js' %}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'query/css/query.css'%}">
{% endblock %}