{% extends 'main/base.html' %}
{% load static %}
{% load jsonify %}

{% block main %}
<div class="row">
<aside class="col-3">
	<!-- <strong>LatLon Values: </strong>
		<small id="mouse-position"></small> -->
	<!-- <form class="form-inline">
		{% csrf_token %}
      <label for="type">Geometry type: &nbsp;</label>
      <select class="form-control mr-2 mb-2 mt-2" id="type">
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
        <option value="Circle">Circle</option>
        <option value="None">None</option>
      </select>
      <input class="form-control mr-2 mb-2 mt-2" type="button" value="Undo" id="undo">
    </form> -->
	<p class="h3 fw-bolder">App Navigation</p>
		<form method="POST">
			{% csrf_token %}
			<div id="navpanel" data-datasets="{{ datasets }}">
				<select id="option1" class="form-select form-select-sm mb-1">
					<option value="...">Select Map Type</option>
				</select>
				<select id="option2"  class="form-select form-select-sm mb-1">
					<option value="...">Select a Dataset</option>
				</select>
				<select id="option3"  class="form-select form-select-sm mb-1">
					<option value="...">Select a Sensor</option>
				</select>
				<select id="option4"  class="form-select form-select-sm mb-1">
					<option value="...">Select a Product</option>
				</select>
				<div class="date">
				<label for="start_date" class="date mt-1 mb-1"><strong>Start Date: </strong></label>
				<input id="start_date" type="date" class="form-control buttontheme" >
				<label for="end_date" class="date mb-1 mt-1"><strong>End Date: </strong></label>
				<input id="end_date" type="date" class="form-control buttontheme" >
				</div>
				<button id="loadmap" type="submit" class="btn btn-success mt-1" data-toogle="tooltip"
				data-placement="top" data-trigger="hover"  data-title="Select Data To View Before Loading Map">Load Map</button>
			</div>
	</form>
	<label for="splitter" class="mb-1 mt-1"><strong>Split Canvas:</strong></label>
		<select id="splitter" class="splits">
			<option value="1">Default Screen</option>
			<option value="2">2 Screens</option>
			<option value="4">4 Screens</option>
		</select>
		<div id="screen2btns" role="group" class="mb-1 btn-group me-2">
		<button id="loadmap1" type="submit" class="btn btn-outline-success mb-1 mt-1">Load Map A</button>
		<button id="loadmap2" type="submit" class="btn btn-outline-success mb-1">Load Map B</button>
		</div>
		<div id="screen4btns" role="group" class="mb-1 me-2 btn-group">
		<button id="loadmap41" type="submit" class="btn btn-outline-success mb-1 mt-1">Load Map A</button>
		<button id="loadmap42" type="submit" class="btn btn-outline-success mb-1 mt-1">Load Map B</button>
		<button id="loadmap43" type="submit" class="btn btn-outline-success mb-1">Load Map C</button>
		<button id="loadmap44" type="submit" class="btn btn-outline-success mb-1">Load Map D</button>
		</div>
</aside>

<section class="col-9">
	<div id="loader" style="display:none; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: 88">
        <img id="loaderimage" src="{% static 'maps/imgs/loading.gif' %}" />
        <p style="text-align:center">
            Loading Data
        </p>
    </div>
	<div id="mapdef">
		<div id="map" class="map">
		</div>
		<div id="legenddf" class="legend">
			<img src="" id="lulcdf" class="lulclegend">
			<img src="" id="wqdf" class="wqlegend">
		</div>
	</div>
	<div id="maps2" class="split">
		<div id="map21def" class="maps2 left">
			<div id="map21" class="map"></div>
			<img src="" id="lulc21" class="lulclegend">
			<img src="" id="wq21" class="wqlegend">
		</div>
		<div id="map22def" class="maps2 right">
			<div id="map22" class="map"></div>
			<img src="" id="lulc22" class="lulclegend">
			<img src="" id="wq22" class="wqlegend">
		</div>
	</div>
	<div id="maps4" class="split">
		<div id="maps41def" class="maps4 left mb-2">
			<div id="map41" class="map">
			</div>
			<img src="" id="lulc41" class="lulclegend">
			<img src="" id="wq41" class="wqlegend">
		</div>
		<div id="maps42def" class="maps4 right mb-2">
			<div id="map42" class="map">
			</div>
			<img src="" id="lulc42" class="lulclegend">
			<img src="" id="wq42" class="wqlegend">
		</div>
		<div id="maps43def" class="maps4 left mb-2">
			<div id="map43" class="map">
			</div>
			<img src="" id="lulc43" class="lulclegend">
			<img src="" id="wq43" class="wqlegend">
		</div>
		<div id="maps44def" class="maps4 right mb-2">
			<div id="map44" class="map">
			</div>
			<img src="" id="lulc44" class="lulclegend">
			<img src="" id="wq44" class="wqlegend">
		</div>
	</div>
</section>
</div>

{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'maps/css/maps.css'%}">
{% endblock %}

{% block scripts %}
	<script>const static_url = "{% static '' %}";</script>
	<script type="text/javascript" src="{% static 'maps/js/ajax.js' %}"></script>
  <script type="text/javascript" src="{% static 'maps/js/maps.js' %}"></script>
{% endblock %}