<select id="option1" class="form-select form-select-sm mb-1">
	<option value="...">Select Map Type</option>
</select>
<select id="option2"  class="form-select form-select-sm mb-1">
	<option value="...">Select a Dataset</option>
</select>
<select id="option3"  class="form-select form-select-sm mb-1">
	<option value="...">Select a Sensor</option>
</select>
<select id="option4"  class="form-select form-select-sm mb-1">
	<option value="...">Select a Product</option>
</select>
<div class="date">
	<label for="start_date" class="date mt-1 mb-1"><strong>Start Date: </strong></label>
	<input id="start_date" type="date" class="form-control buttontheme" >
	<label for="end_date" class="date mb-1 mt-1"><strong>End Date: </strong></label>
	<input id="end_date" type="date" class="form-control buttontheme" >
</div>