#logo > img {
	width: 100px;
	height: 100px;
}
/*header > h1 {
	width: 75%;
	float: right;
}
nav {
	height: 50px;
	background-color: #F9F5F5;
	color:  black;
	width: 100%;
}*/
/*footer {
	margin-top: auto;
	margin-bottom: 0;
}*/
/*h3 {
	text-decoration: underline;
	text-decoration-color: blue;
	font-size: 20px;
}*/
/*footer > .btn {
	width: 21%;
	margin-left:  3%;
}*/
/*footer > .btn > a {
	color: white;
	text-decoration: none;
}*/